.accounts {
  h3 {
    margin: 0;
    float: left;
  }

  .btn-group {
    float: right;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .container {
    margin-bottom: 20px;
  }
}

$block: 'account';

.account {
  &__title {
    color: dodgerblue;
  }

  &__chart {
    //height: 14px;
    //background-color: rgb(189, 140, 160);
  }

  &--grid-view {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    display: block;
    float: left;
    width: 24%;
    margin: 0 1% 1% 0;
    text-align: center;

    &:nth-child(4n+5) {
      clear: both;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    .#{$block}__title {
      padding: 10px;
    }

    .#{$block}__chart {
      height: 14px;
      margin: 10px;
    }

    .#{$block}__allocation {
      border-top: 1px solid #e7e7e7;
      padding: 20px 0 30px;

      .title {
        color: #999;
        font-size: 12px;
        margin: 0;
        padding: 10px 10px 0;
        display: block;
      }

      .value {
        font-size: 22px;
        padding: 10px;
        margin-bottom: 30px;
      }
    }

  }

  &--list-view {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e7e7e7;
    @include clearfix();

    .#{$block}__title {
      font-size: 16px;
      padding-left: 10px;
      width: 30%;
      float: left;
    }

    .#{$block}__chart {
      float: left;
      width: 40%;
      height: 20px;
      margin-top: 30px;
    }

    .#{$block}__allocation {
      float: right;
      width: 26%;
      height: 60px;
      text-align: right;
      .value {
        font-size: 22px;
        padding: 0 10px;
      }
      .percentage {
        color: #666666;
      }
    }
  }
}
