<div class="account__title">{{accountName}}</div>
<div class="account__allocation">
    <span class="title">Today's total value</span>
    <span class="value">{{currencySymbol}} {{allocationValue}}</span>
</div>
<div class="account__chart"></div>