<div class="container">
    <h1>{{title}}</h1>
</div>

<div class="widget persona"></div>
<div class="widget accounts"></div>
<div class="widget chart"></div>

<script src="js/core.js"></script>
<script src="js/persona.js"></script>
<script src="js/accounts.js"></script>
<script src="js/chart.js"></script>

