h3 {
  margin: 0;
  float: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

.account {
  .title {
    color: dodgerblue;
  }

  .chart {
    height: 14px;
    background-color: dimgrey;
  }
}

.grid-view {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  display: block;
  float: left;
  width: 32.333%;
  margin: 0 1.3% 1.3% 0;
}