<h2>{{name}}</h2>
<span><a href="#">view all</a></span>

<div class="dropdown dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{name}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"></ul>
</div>