<div class="title">{{accountName}}</div>
<div class="allocation">
    <span class="title">Today's total value</span>
    <span class="value">{{currencySymbol}} {{allocationValue}}</span>
</div>
<div class="chart"></div>